@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/* OVERALL APP */
body {
  background-color: black;
  margin: 0; 
  height: 100vh;
}

button {
  background-color: #27AA83;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 55px;
  padding: 15px 40px;
  cursor: pointer;
  display: block; 
  margin: 0 auto;
  border: none;
}

button:hover {
  background-color: #1a8d69;
}

/* Nav Bar*/
.Bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 69px;
  background-color: #27AA83;
  display: flex;
  align-items: center;  
  z-index: 50;
}

.NavbarItem {
  color: white;
  cursor: pointer;
  height: 100%;
  padding: 0px 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  
  font-family: "Host Grotesk", Arial;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
}

.NavbarItem:hover{
  background-color: #1a8d69;
}

.NavbarLogo{
  margin: 10px;
  margin-left: 20px;
  height: 65%;
  width: auto;
}

.messagesBtn{
  margin-left: auto;
}

.MessagesIcon{
  background-color: white;
  color: #27AA83;
  padding: 2px 7px;
  border-radius: 10px;
  margin-left: 15px;
}

/* Bottom Banner */
.BottomBanner{
  background-color: #037C69;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BottomBanner h1{
  color: white;
  font-weight: 700;
  font-size: 50px;
  display: inline-block;
}

.BottomBanner img{
  height: 70%;
  margin: 0px 50px;
}

.namesCopyright {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);  
  gap: 20px; 
  row-gap: 5px;
}

.namesCopyright p{
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  margin: 0px;
}

/* HOME PAGE */

/* Header */
.Header {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(to bottom, #003839, black);
  overflow: hidden; 
}

.PaperImg {
  position: absolute;
  top: 0;
  right: 0; 
  height: auto;
  width: 75%;
  min-height: 100%;
  min-width: 625px;
  z-index: 1;
}

.PencilImg {
  position: absolute;
  left: 75px;
  top: 100px; 
  width: 5%;
  min-width: 77px;
  height: auto;
  z-index: 2;
}

.HeaderText {
  position: absolute;
  top: 55%;
  left: 150px;
  transform: translate(0, -50%); 
  color: white;
  text-align: right;
  z-index: 3; 
}

.HeaderText h1 {
  font-weight: 700;
  font-size: 120px;
  color: white;
  margin: 0px;
}

.HeaderText h2 {
  margin: 0px;
  color: white;
  font-weight: 600;
  font-size: 70px;
}

/* What's Ascend */
.WhatsAscendBox {
  margin-top: 100px; 
  margin-left: 125px;
  margin-right: 125px;
  z-index: 2;
  border: 10px solid white;
  border-bottom: none;
  padding: 50px;
  text-align: left;
  display: block;
}


.WhatsAscendBox h1, .CreatorsBox h1 {
  color: black;
  background-color: white;
  margin: 0px;
  margin-bottom: 50px;
  padding: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 55px;
}

.WhatsAscendBox p {
  color: white;
  margin: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 55px;
}

/* Who made this? */
.Creators {
  background-color: #003233;
  margin: 0px;
  padding-bottom: 75px;
}

.CreatorsBox {
  margin-top: 0px; 
  margin-left: 125px;
  margin-right: 125px;
  z-index: 2;
  border: 10px solid white;
  border-top: none;
  padding: 50px;
  text-align: left;
  display: block;
  padding-bottom: 75px;
}

.CreatorsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);  
  gap: 10px; 
  row-gap: 50px;
}

.CreatorCard{
  margin: 5px;
  display: grid;
  justify-items: center;
  grid-template-rows: 250px auto auto;
}

.CreatorCard img{
  height:100%;
  width: auto;
}

.CreatorCard h1{
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin: 0px;
  text-align: center;
  padding: 10px;
}

.CreatorCard h2{
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 35px;
  margin: 0px;
  margin-top: 10px;
}

@media (max-width: 1485px) {
  .CreatorsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);  
    gap: 10px; 
    row-gap: 75px;
  }
}

/* Side pencil */
.SidePencil{
  position: absolute;
  right: 30px;
  top: 800px;
  width: 70px;
  height: auto;
  z-index: 40;
}

.SidePencil2{
  position: absolute;
  right: 30px;
  top: 100px;
  width: 70px;
  height: auto;
  z-index: 40;
}

/* ENTER INFO PAGE */
.EnterInfo {
  margin-top: 69px;
  padding: 75px;
  padding-left: 100px;
  background-image: linear-gradient(to bottom, #003839, black);
}

.EnterInfo h1{
  color: white;
  font-weight: 700;
  font-size: 75px;
}

.EnterInfo h2{
  color: white;
  font-weight: 500;
  font-size: 55px;
  display: inline-block;
  margin-bottom: 0px;
}

.blankText{
  color: black;
  background-color: white;
  padding: 5px 10px;
}

.userInput{
  margin: 0px 15px;
  background-color: white;
  font-weight: 500;
  font-size: 55px;
  border-radius: 0px;
  padding: 10px;
  font-size: 55px;
}

.jobInput{
  width: 300px;
}
.yearsInput, .stateInput{
  width: 75px;
}
.skillInput, .pastSalaryInput{
  width: 400px;
}
.salaryInput{
  width: 225px;
}

.ContinueBtn {
  float: right;
  margin: 0px 50px 50px 0px;
}

/* DASHBOARD PAGE */
.ContractHighlights{
  margin-top: 69px;
  padding: 75px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, #003839, black);
}

.ContractHighlights h1{
  color: white;
  font-weight: 700;
  font-size: 65px;
  display: inline-block;
  margin: 0px;
}

.ContractHighlights h2{
  color: white;
  font-weight: 500;
  font-size: 40px;
  margin-top: 20px;
}

.ContractHighlights button{
  float: right;
}

.AnnualSalary{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.AnnualSalaryPopup{
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 75px;
  margin-bottom: 75px;
}

.AnnualSalary h1{
  display: block;
  font-weight: 800;
  font-size: 150px;
}

.AnnualSalary h2{
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 45px;
  display: inline-block;
  margin: 0px;
  margin-bottom: 35px;
}

.AnnualSalary h3{
  color: white;
  font-weight: 700;
  font-size: 80px;
  display: block;
  margin: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.AnnualSalary h4{
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 40px;
  display: inline-block;
  margin: 0px;
  margin-bottom: 35px;
  width: 300px;
}

.AnnualSalary p{
  color: white;
  font-weight: 500;
  font-size: 35px;
  margin: 15px 0px;
}

.AnnualSalaryPopupLeft, .AnnualSalaryPopupRight{
  transform: translateY(100px);
}

.lowlight{
  color: #E69292;
}

.highlight{
  color: #AFE692;
}

.AnalyticsGraphs{
  text-align: center;
}

.AnalyticsGraphs h1{
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin: 0px;
  display: block;
}

.AnalyticsGraphs p{
  color: white;
}

.ContractMainPoints{
  padding: 0px 200px;
  margin: 75px 0px;
}

.ContractMainPoints h1, .NegotiationPointsContainer h1 {
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin-right: 20px;
}

.Points{
  z-index: 2;
  border: 10px solid white;
  padding: 0px 25px;
  text-align: left;
  display: block;
}

.Points ul{
  color: white;
  font-weight: 500;
  font-size: 35px;
}

.NegotiationPointsContainer {
  margin: 75px 200px;
}
.NegotiationPoints {
  display: grid;
  border: 10px solid white;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.grid-item {
  padding: 20px; 
  text-align: left;
  border-left: 10px solid white; 
  color: white;
  font-weight: 500;
  font-size: 35px;
}

/* Remove border for the first column */
.grid-item:nth-child(2n+1) {
  border-left: none;
}